@import url('https://fonts.googleapis.com/css?family=Nunito:800i&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
    background-color: #f1f1f1;
    text-align: center;


}

/*end general*/

/*navigation rules*/
.navbar {
    background-color: #131d47;
    height: 80px;
    border-bottom: 1px solid #080808;
    display: flex;
    justify-content: center;
}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


a.Logo {
    font-size: 140%;
    width: 160px;
    padding: 25px 15px 25px 28px;
    background-image: url("../../../Documentation/Logo/Logo-completoTransparent.png");
    background-repeat: no-repeat;
    background-size: 180px 45px;
    background-position: 15px, 0;

}

a.Logo:hover {
    background-image: url("../../../Documentation/Logo/Logo-sbrilluccicoso.png");
}

.buttonImage {
    width: 15%;
    height: 15%;
}



svg {
    position: relative;
    margin-top: 10%;
}

.WelcomeWrite {
    align-self: center;
    width: 50%;
    height: 50%;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    align-self: center;
}

.button1 {
    width: 300px;
}

/*********************************/

.DeviceButtonsContainer {
    height: 80px;
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin-top: 3%;
}

.DeviceButton {
    width: 12.5%;
    height: 70%;
    border-radius: 300px;
    border: 4px solid #131D47;
    background-color: #9AECED;
}

.TextDeviceButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.4em;
    color: #333;
    font-weight: bold;
}

.Separazione {
    height: 3px;
    border-width: 0px;
    width: 80%;
    color: #131D47;
    background-color: #131D47;
    margin-top: 2%;
    border-radius: 50%;

}

.Separazione2 {
    height: 3px;
    border-width: 0px;
    width: 80%;
    color: #131D47;
    background-color: #131D47;
    margin-top: 7%;
    border-radius: 50%;

}

.MyAquarium {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 1.4em;
    color: #333;
    font-weight: bold;
    margin-top: 2%;
}

.button-group1 {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    margin-top: 20%;
}

.button-group2 {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    margin-top: 10%;
}


/***************** WELCOME *********************up***/

.plugin_wrapper { /*wrapper*/
    margin: 0 auto;
    width: 260px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    color: #999;
}

.plugin_wrapper h2 { /*titolo mytodo*/
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
    font: normal 120% Verdana, Tahoma, sans-serif;
    color: #999;
}

.plugin_wrapper .to-do-list-container { /*bo*/
    width: 260px;
    padding: 12px 0;
    background: rebeccapurple;
    border: 1px solid;
    border-color: #324233;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    padding: 9px;
}

.plugin_wrapper textarea { /*dove si inserisci il testo*/
    width: 260px;
    max-width: 260px;
    height: 60px;
    line-height: 100%;
    border-radius: 2px;
    padding: 9px;
    border: solid 1px red;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    /*background: #FFFFFF url('bg_form.png') left top repeat-x;*/
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.plugin_wrapper input { /*tasto add*/
    padding: 9px 15px;
    background: green;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
    width: 280px;
    text-align: center;
    padding: 9px;
    margin: 10px 0 10px 0;

}

.plugin_wrapper ul { /*bo*/
    list-style-type: none;
    padding: 0;
}

.plugin_wrapper ul li { /*bo*/
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;

    line-height: 21px;
    font-size: 12px;
    color: purple;
    border-bottom: 1px solid #e6ebed;

}

.plugin_wrapper .todo_text { /*oggeto visualizzato*/
    cursor: pointer;
    outline: none;
    display: block;
    padding: 5px;
    background-color: black;
    color: #FFF;
    font-weight: bold;
    width: 80%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.plugin_wrapper .completed .todo_text { /*bo*/
    text-decoration: line-through;
    background-color: #0C0;
}

.plugin_wrapper span.deleter { /*la x per cancellare*/
    color: blue;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;

}

.switch_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 200px;

}

.text_container {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;

}

.text_container img {
    width: 10%;
    height: 80%;
    margin-top: 10%;
}

.text_container h1 {
    margin-left: 5px;
    margin-top: 10%;
    justify-content: stretch;
}

.UserNameWelcome {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 1.4em;
    color: #333;
    font-weight: bold;
}

/************************************//*Buttons style*/
.switch-wrap {
    margin-top: 10px;
    cursor: pointer;
    background: #131D47;
    padding: 7px;
    width: 140px;
    height: 67px;
    border-radius: 50px;

}

.switch-wrap input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


.switch {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: 0.2s;

}

.switch::after {
    content: "";
    border-radius: 50%;
    background: #E592B5;
    grid-column: 2;
    transition: background 0.2s;

}

input:checked + .switch {
    grid-template-columns: 1fr 1fr 0fr;
}

input:checked + .switch::after {
    background-color: #9AECED;
}


.AllFirstButton {

    width: 300px;
    height: 150px;
    border-color: #131D47;
    border: solid;
    border-width: 5px;
    background-color: #9AECED;
    border-radius: 50px;
    flex-direction: column;
}


.row {
    display: table-row;
}

.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 40px;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #495288;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-1 .knobs:before,
#button-2 .knobs:before,
#button-3 .knobs:before {
    content: "OFF";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #E592B5;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before,
#button-2 .checkbox:checked + .knobs:before,
#button-3 .checkbox:checked + .knobs:before {
    content: "ON";
    left: 42px;
    background-color: #131D47;
}

#button-1 .checkbox:checked ~ .layer,
#button-2 .checkbox:checked ~ .layer,
#button-3 .checkbox:checked ~ .layer {
    background-color: #365DF7;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer,
#button-2 .knobs,
#button-2 .knobs:before,
#button-2 .layer,
#button-3 .knobs,
#button-3 .knobs:before,
#button-3 .layer {
    transition: 0.3s ease all;
}

.button-group1{
    display: flex;
    flex-wrap: wrap;
    width: 420px;
}

.small-button {
    margin: 5px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    color: #00CC00;
    border: solid #131D47 5px;
    background-color: #9AECED;
}

.small-button:hover{
    cursor: pointer;
}

.small-button h1{
    line-height: 1.4em;
    color: #333;
    font-weight: bold;
}






