* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
    background-color: #f1f1f1;
    text-align: center;

}

/*end general*/

/*navigation rules*/
.navbar {
    background-color: #131d47;
    height: 80px;
    border-bottom: 1px solid #080808;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


a.Logo {
    font-size: 140%;
    width: 160px;
    padding: 25px 15px 25px 28px;
    background-image: url("../../Documentation/Logo/Logo-completoTransparent.png");
    background-repeat: no-repeat;
    background-size: 180px 45px;
    background-position: 15px, 0;

}

a.Logo:hover {
    background-image: url("../../Documentation/Logo/Logo-sbrilluccicoso.png");
}


svg {
position: relative;
    width: 600px;
    height: 600px;
    margin-top: 10%;

}
/*
svg {
    font-weight: bold;
    max-width: 600px;
    height: auto;

}*/

/**/



