* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    background-image: url("../../Documentation/Image/LoginWallpaper.png");
    background-size: cover;

}


.logo {

    padding: 30px;
}

.logo img{
    width: 450px ;
}

.box1 {

    align-self: center;
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495288af;
    border-radius: 35px;
    flex-direction: column;
}


form .field-group {
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 35px;
    display: flex;

}


form .field-group span {
    background-color: transparent;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-user:before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
}

.fa-lock::before {
    content: "\f023";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
}

.field input {
    padding: 10px 0 10px 15px;
    font-size: 20px;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    outline: none;
}

.field button {
    background: #9aeced;
    border: none;
    color: #222;
    padding: 11px 15px;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 35px;
    transition: 0.5s all;
    margin-bottom: 60px;
}




